*{
    font-family: 'Urbanist', sans-serif;
}
a{
    cursor: pointer;
}
h1{
    padding-left: 15px;
    font-family: 'Rampart One', cursive;
    
}
a.simple:link, a.simple:visited{
    color:black;
}
a.simple:hover{
    color:#b85c38;
}
.menu ul li a{
    font-family: 'Architects Daughter', cursive;
    font-size:30px;
}
ul.inline{
    display: flex;
    list-style-type: none;
    width:auto;
    margin:auto;
    padding:0;
    text-align:center;
} 
ul.inline li{
    display:inline-block;
    padding:2px;
    margin:auto;
}
ul.contents{
    font-size: 25px;
}
ul.contents li{
    text-align:center;
    justify-content: center;
    padding:10px;
}
.menu ul li{
    display:block;
    width:25%;
    text-align: center;
    font-size: 25px;
    padding-top:16px;
    padding-bottom:16px;
    border-right:1px solid #e0c097;
}
li.selected{
    background-color:#5c4949;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
a::after {
    content: '';
    width: 0%;
    height: 2px;
    color:black;
    background: #b85c38;
    display:block;
    margin:auto;
    transition: 0.5s;
}
a:hover::after{
    width:100%;
}
.menu ul li:hover{
    background-color: black;
    color:#5c3d2e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.menu ul li.last{
    border-right:1px solid #2d2424;
}
.menu ul li a:hover{
    color:#e0c097;
}
.high{
    font-size: 25px;
}
.math, .math button{
    margin:auto;
    text-align:center;
    font-size: 22px;

}
input{
    width:auto;
    background-color: none;
}

li a:link,li a:visited{
    text-decoration: none;
    color: #b85c38;
}
.contents li a:hover{    
    justify-content: center;
    background-color:rgb(0, 0, 0);
    color: #5c3d2e;
    border-radius: 5px;
}
ul{
    display:list-item;
    list-style-type: none; 
    overflow: hidden;

}
li{
    width:fit-content;
    margin:auto;
}
body{
    background-color: #2d2424;
    color: #b85c38;

}
header{
    background-color: #e0c097;
    color: black;
    border-radius: 8px;
}
.menu{
    position: sticky;
    top:0;
    background-color: #2d2424;
    
}
table{
    width:100%;
}
td{
    margin:auto;
    width:50%;
}
.edit {
    position: relative;
    text-align: center;
    font-size:15px;
    
}
.lenpos{
    position:absolute;
    top:49%;
    left:43%;
}
.widpos{
    position:absolute;
    top:33%;
    right:30%;
}
.hpos{
    position:absolute;
}
.erpos{
    position: absolute;
}